**{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    max-width:1200px;
    margin: auto;
}


nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    

padding: 8px 0;
}
 .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    font-size: 16px;
  

}
.menu a{
    color: #555;
    text-decoration: none;
}
button{
    padding: 10px 20px;
   background-color:#1d4ed8 ;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size: 16px;
}
.container{
    max width:1200px ;
    margin:auto;
}



.banner{
 display: flex;
 justify-content: center;
align-items: center;
 background-size: cover;
 background-position: center;
background-repeat: no-repeat;
 text-align: center;

}
.banner-content{
color: white;
max-width: 800px;

}
.banner-content h3{
    font-size:80px ;
    font-weight:600 ;
    margin-bottom: 20px;

}
.banner-content p {
font-size: 11px;
font-weight: 400px;
 line-height: 1.6;
}
.banner{
background-image: url(./banner.jpg);
    
    
    background-size: cover;
    background-position: center;
    
}
.banner button{
    margin-top: 150px;
    margin-bottom: 40px;
}